<!DOCTYPE html>
<html>
  <head>
    <title>@Page.Title</title>
    <link href="~/Styles/WebGL.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/glMatrix-0.9.5.min.js" type="text/javascript" ></script>
    <script src="Scripts/webgl-utils.js" type="text/javascript" ></script>
    <script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;

    varying vec2 vTextureCoord;

    uniform sampler2D uSampler;

    void main(void) {
        gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
    }
</script>
    <script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;
    attribute vec2 aTextureCoord;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    varying vec2 vTextureCoord;


    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        vTextureCoord = aTextureCoord;
    }
</script>
    <script src="Scripts/canvas.js" type="text/javascript"></script>
  </head>
  <body onload="webGLStart()">
    <div id="container">
        <div id="header">
          <h1>Reaction Game Website</h1>
        </div>
        <div id="main">
          @RenderBody()
        </div>
        <div id="maincanvas">
        <canvas id="glcanvas" height="500" width="600">
        Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
        </canvas>   
        </div>
        <div id="footer">
          &copy; @DateTime.Now.Year Reaction Game Website - Josh Hadley
        </div>
    </div>
  </body>
</html>